.photoUpload {
    background-color: #5f91ff;
    border-radius: 5%;
    border: white thin solid;
}

.dropzone {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.photoUpload * {
    margin-bottom: 14px;
    text-align: center;
}