.photoUpload {
    border: green solid thick;
}

.dropzone {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hi {
    border: green solid thin;
}

.photoUpload * {
    margin-bottom: 14px;
    text-align: center;
}