
#current-image {
  border: solid 13px #5f91ff;
  border-top-right-radius: 14%;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 45%;
  border-bottom-left-radius: 14%;
  margin-left: auto;
  margin-right: auto;
}

.choosen-photo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-div {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

aside {
  border-top: white solid thin;
}

#btn-div * {
  border: solid thin white;
  margin-left: 5px;
  margin-right: 5px;
  padding: 4px;
}