#div-pic {
    flex-direction: column;
    text-align: center;
}

#btn {
    border: green solid thick;
}
#matchesDiv {
    display: flex;
    flex-direction: column;
}

#fuckshit {
    border: solid thick gray;
    background-color: blue;
    height: 300px;
    width: 300px;
    margin: 10px;
}
button {
    color: green;
}
.match {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}