#div-pic {
    flex-direction: column;
    text-align: center;
}

#btn {
    border: green solid thick;
}
#matchesDiv {
    display: flex;
    flex-direction: column;
}

.match {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}