footer {
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color: white;
    position:fixed;
    bottom:0;
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 20px;
}