.successButton {
    background-color: black;
    color: white;
    height: 100px;
    width: 90px;
    color: pink;
    margin-left: auto;
    margin-right: auto;

}


.zodiacInput {
    margin-left: 5px;
    width: 350px;
    
}

.genderInput {
    margin-left: 5px;
    width: 350px;
}

.nameInput {
    width: 350px;
}

.prefInput {
    margin-left: 5px;
    width: 350px;

}

.label{
    color:white;
}

@media only screen and (max-width: 600px) {
    .nameInput {
    width: 300px;
    }
  }

  label {
      color: white;
  }
  strong {
      color: white;
      margin-top: 200px;
  }