.successButton {
    background-color: #5f91ff;
    border-radius: 30px;
    height: 100px;
    width: 90px;
    color:white;
    margin-left: auto;
    margin-right: auto;
}

.SEEME {
    border: solid thick black;
    height: 400px;
    width: 400px;
    background-color: aquamarine;
}
.zodiacInput {
    margin-left: 5px;
    width: 350px;
    border-radius: 30px;

    
}

.genderInput {
    margin-left: 5px;
    width: 350px;
    border-radius: 30px;

}

.nameInput {
    width: 350px;
    border-radius: 30px;

}

.prefInput {
    margin-left: 5px;
    width: 350px;
    border-radius: 30px;


}

.label{
    color:white;
}

@media only screen and (max-width: 600px) {
    .nameInput {
    width: 300px;
    }
}

label {
    color: white;
}
strong {
    color: white;
    margin-top: 200px;
        border-radius: 30px;

}

.card.title, h4{
    font-family: 'Montserrat', sans-serif; 
}