.successButton {
    background-color: red;
    color: white;
    margin-left: 41%;
}
.dobInput {
    margin-left: 5px;
    width: 500px;
    
}

.genderInput {
    margin-left: 5px;
    width: 500px;
}

.nameInput {
    width: 500px;
}

.prefInput {
    margin-left: 5px;
    width: 500px;

}

@media only screen and (max-width: 600px) {
    .nameInput {
    width: 300px;
    }
  }