.container {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: larger;
    padding-top: 3rem;
}

#header {
    position: fixed;
  }
  
  #content {
    margin-top: 100px;
  }

.menu-text {
    font-weight: bold;
    font-size: x-large;
    color: purple;
}

div.top-bar{
    background-color: transparent;
}

.links .chat  .matches{
float:left;
}

.cell {
    display: flex;
    justify-content: center;
}

.allLinks {
    display: flex;
    justify-content: space-evenly;
}

a, a.text {
    color:white;
    border-bottom: #5f91ff;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border-color: #5f91ff;
    background-color: #5f91ff;
    border-radius: 30px;
}

a:hover {
    color: midnightblue;
  }

img {
    width: 150px;
    position: relative;
}
