.container {
    text-align: center; 
}
.menu-text {
    font-weight: bold;
    font-size: x-large;
    color: purple;
}

.links .chat  .matches{
float:left;
}

.cell {
    display: flex;
    justify-content: center;
}

.allLinks {
    display: flex;
    justify-content: space-evenly;
}