.match {
    display: flex;
    flex-direction: row;
}

.match * {
    text-align: center;
}

.match *:first-child {
    width: 25%;
    border: solid green thin;
}

.match *:nth-last-child(2) {
    width: 25%;
    border: solid red thin;
}

.match *:last-child {
    width: 50%;
    vertical-align: middle;
    border: solid yellow thin;
}