.card {
    width: 150px;
    height: 200px;
    display: block;
    background: #666;
    transform-origin: 50% 99%;
  }

  @keyframes yay {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }
    to {
      transform: rotate(40deg) translateY(-80px);
      opacity: 0;
    }
  }

  @keyframes nope {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }
    to {
      transform: rotate(-40deg) translateY(-80px);
      opacity: 0;
    }
  }

  .cardcontainer.yes .card {
    animation: yay 0.7s ease-out;
  }
  .cardcontainer.nope .card {
    animation: nope 0.7s ease-out;
  }

  .list .card {
    display: none;
  }
  .list .current {
    display: block;
  }